/*
  ----------------
  ヘッダーのスタイル設定
  ----------------
*/

$sp-header: 58px;

header.header {
  transition: .3s;
  z-index: 10;
  background: #fff;
  position: fixed;
  padding: 0 1rem;
  width: 100%;

  p {
    margin-bottom: 0;
  }
  a {
    color: $color-font;
  }

  @media #{$sp} {
    border-bottom: 1px solid $primary-color;
    top: 0;
    left: 0;
    width: 100%;
    min-height: $sp-header;
  }

  .navbar-brand {
    @media #{$pc} {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    @media #{$sp} {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    &__logo {
      font-weight: bold;
      color: $primary-color;
      line-height: 1;
      font-size: 4rem;
      @include hoverlink;

      @media #{$sp} {
        font-size: 3rem;
      }
    }
  }

  .gnav {
    @media #{$pc} {
      align-items: center;
      padding-left: 0;
      padding-right: 0;
      flex-wrap: wrap;
    }
    @media #{$sp} {
      padding: 0;
      min-height: $sp-header;
      align-items: center;
    }
    &-wrap {
      width: 100%;
      @media #{$pc} {
        .navbar-nav {
          justify-content: flex-end;
        }
      }
      @media #{$sp} {
        padding: 2em 0;
      }
    }
    .menu-item {
      @media #{$pc} {
        font-weight: bold;
        font-size: 1.5rem;

        & a {
          position: relative;
          text-shadow:5px 5px 3px #a5a7a5;
          padding: 5px 12px;
          transition: .3s;
          line-height: 3em;

          &:hover {
            color: $primary-color;
            text-shadow: 0px 0px 1px #a5a7a5;
            transition: .3s;
          }

          &::after {
            position: absolute;
            content: '';
            background: #74ade1;
            bottom: -10px;
            left: 50%;
            margin-left: -12px;
            width: 25px;
            height: 3px;
            transition: .3s;
            opacity: 0;
          }

          &:hover::after {
            bottom: 0px;
            opacity: 1;
            visibility: visible;
          }
        }

      }
      @media #{$sp} {
        text-align: center;
        padding: .5em;
      }
    }
  }

  .navbar-toggler {

    @media #{$sp} {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: fixed;
      right: 0;
      top: 0;
      width: $sp-header;
      height: $sp-header;
      background-color: $primary-color;
      outline: none;

      span {
        background-color: #fff;
        width: 30px;
        height: 3px;
        margin-bottom: 7px;
        transition: transform .2s ease;
      }

      &:not(.collapsed) {
        span {
          &:nth-child(1) {
            transform: rotate(-45deg) translate(-1px,4px);
          }
          &:nth-child(2) {
            transform: rotate(45deg) translate(-5px,-7px)
          }
        }
      }
    }
  }
}

#navbarGnav {
  @media #{$sp} {
    position: fixed;
    top: $sp-header;
    left: 0;
    width: 100vw;
    height: calc(100vh - 58px);
    background-color: rgba(#000,.8);
    opacity: 1;
    transition: opacity .2s ease;
    a {
      color: #fff;
    }
    &:not(.show) {
      display: none;
      opacity: 0;
    }
  }
}


/* トップ */
body.home {
  @media #{$pc} {
    header.header {
      background-color: rgba(#fff, .0);
      position: fixed;
      width: 100%;
    }
  }

  main {
    padding-top: 0;
  }
}

/* scrolled */
header.header.is-scrolled,
body.home header.header.is-scrolled {
  transition: .3s;

  @media #{$pc} {
    position: fixed;
    width: 100%;
    padding-top: 0;
    background-color: rgba(#fff,.9);
    border-bottom: 1px solid rgba(32, 141, 195, 0.25);

    .header-top {
      transition: .3s;
      display: none;
    }
  }
  @media #{$sp} {
    background-color: rgba(#fff,.9);
  }
}