{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "採用情報" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "lower recruit" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}
{% endblock %}

{# Main content #}
{% block content %}

<main>
  <div class="hero-lower">
    <h1 class="heading-primary hero-lower__ttl">採用情報</h1>
  </div>

  <div class="recruit">
    <div class="recruit__wrap">
      <h2 class="heading-secondary">タイトル</h2>
      <div class="recruit__info">
        <dl>
          <dt>募集職種</dt>
          <dd>事務</dd>
        </dl>

        <dl>
          <dt>雇用形態</dt>
          <dd>アルバイト（パート可）</dd>
        </dl>

        <dl>
          <dt>給与</dt>
          <dd>時間給1,000円（経験、能力を考慮）　交通費別途支給</dd>
        </dl>

        <dl>
          <dt>福利厚生</dt>
          <dd>雇用保険、労災保険、社会保険、厚生年金</dd>
        </dl>

        <dl>
          <dt>仕事内容</dt>
          <dd>ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。</dd>
        </dl>

        <dl>
          <dt>勤務地</dt>
          <dd>〇〇市</dd>
        </dl>

        <dl>
          <dt>勤務時間</dt>
          <dd>9:00〜18:00（休憩1時間）</dd>
        </dl>

        <dl>
          <dt>休日休暇</dt>
          <dd>日曜、土曜、祝祭日、年末年始、夏季休暇、有給休暇</dd>
        </dl>

        <dl>
          <dt>応募資格</dt>
          <dd>ここにはテキストが入ります。</dd>
        </dl>

        <dl>
          <dt>求める人物像</dt>
          <dd>ここにはテキストが入ります。</dd>
        </dl>

        <dl>
          <dt>雇用期間</dt>
          <dd>令和xx年x月〜x月まで（契約更新の予定有り）</dd>
        </dl>

        <dl>
          <dt>採用人数</dt>
          <dd>5名</dd>
        </dl>

        <dl>
          <dt>選考方法</dt>
          <dd>webエントリー後、追って面接日をご案内致します。</dd>
        </dl>
        <!-- <div class="entry_wrapper">
          <a href="#entry_pt" class="web_entry1">webエントリーへ ＞＞</a>
        </div> -->
      </div>
      <!-- <div class="recruit__item">
        <div class="recruit__img">
          <img src="/assets/img/recruit/img01.jpg">
        </div>
        <div class="recruit__txtbox">
          <p class="recruit__txt">親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生</p>
          <div class="recruit__btn">
            <a href="#" class="btn-primary is-m">事業についてもっと見る</a>
          </div>
        </div>
      </div> -->
    </div>
    <!-- <div class="recruit-link-content">
      <h3 class="recruit-link-content__ttl"><img src="/assets/img/recruit/link-content_ttl.svg" alt="数値でみる東亜化成"></h3>
      <p class="recruit-link-content__txt">東亜化成という会社や東亜化成の人材をもっとよく知っていただくため、<br>亜化成を数値で表現いたしました。ぜひ御覧ください。</p>
      <a href ="#" class="btn-primary is-m">数値でみる東亜化成</a>
    </div> -->


  </div><!-- /* recruit-->



</main>
{% endblock %}