{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "お知らせ" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "news" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}
<main>
  <div class="hero-lower">
    <h1 class="heading-primary hero-lower__ttl">お知らせ</h1>
  </div>
  <div class="news-content" id="news-list">
    <div class="news-content__wrap news-item">
      <div class="news-content__ttl">
        <h2><span class="news-content__ttl-txt">タイトル</span></h2>
        <span class="news-content__ttl-img">2020.1.1</span>
      </div>
      <div class="news-content-col">
        <div class="news-content-col__wrap">
          <div class="news-content-col__txtbox">
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
          </div>
          <div class="news-content-col__imgbox" style="background-image: url(/assets/img/_dummy/news_img01.jpg)"></div>
        </div>
        <div class="news-content-col__btn"><a href="/news/index_detail.html" class="btn-primary is-ss">詳細をみる</a>
        </div>
      </div>
    </div>  
    
    <div class="news-content__wrap news-item">
      <div class="news-content__ttl">
        <h2><span class="news-content__ttl-txt">タイトル</span></h2>
        <span class="news-content__ttl-img">2020.1.1</span>
      </div>
      <div class="news-content-col">
        <div class="news-content-col__wrap">
          <div class="news-content-col__txtbox">
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
          </div>
          <div class="news-content-col__imgbox" style="background-image: url(/assets/img/_dummy/news_img01.jpg)"></div>
        </div>
        <div class="news-content-col__btn"><a href="/news/index_detail.html" class="btn-primary is-ss">詳細をみる</a>
        </div>
      </div>
    </div>  
    
    <div class="news-content__wrap news-item">
      <div class="news-content__ttl">
        <h2><span class="news-content__ttl-txt">タイトル</span></h2>
        <span class="news-content__ttl-img">2020.1.1</span>
      </div>
      <div class="news-content-col">
        <div class="news-content-col__wrap">
          <div class="news-content-col__txtbox">
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
          </div>
          <div class="news-content-col__imgbox" style="background-image: url(/assets/img/_dummy/news_img01.jpg)"></div>
        </div>
        <div class="news-content-col__btn"><a href="/news/index_detail.html" class="btn-primary is-ss">詳細をみる</a>
        </div>
      </div>
    </div>  
    
    <div class="news-content__wrap news-item">
      <div class="news-content__ttl">
        <h2><span class="news-content__ttl-txt">タイトル</span></h2>
        <span class="news-content__ttl-img">2020.1.1</span>
      </div>
      <div class="news-content-col">
        <div class="news-content-col__wrap">
          <div class="news-content-col__txtbox">
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
          </div>
          <div class="news-content-col__imgbox" style="background-image: url(/assets/img/_dummy/news_img01.jpg)"></div>
        </div>
        <div class="news-content-col__btn"><a href="/news/index_detail.html" class="btn-primary is-ss">詳細をみる</a>
        </div>
      </div>
    </div>  
    
    <div class="news-content__wrap news-item">
      <div class="news-content__ttl">
        <h2><span class="news-content__ttl-txt">タイトル</span></h2>
        <span class="news-content__ttl-img">2020.1.1</span>
      </div>
      <div class="news-content-col">
        <div class="news-content-col__wrap">
          <div class="news-content-col__txtbox">
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
          </div>
          <div class="news-content-col__imgbox" style="background-image: url(/assets/img/_dummy/news_img01.jpg)"></div>
        </div>
        <div class="news-content-col__btn"><a href="/news/index_detail.html" class="btn-primary is-ss">詳細をみる</a>
        </div>
      </div>
    </div>  
    
    <div class="news-content__wrap news-item">
      <div class="news-content__ttl">
        <h2><span class="news-content__ttl-txt">タイトル</span></h2>
        <span class="news-content__ttl-img">2020.1.1</span>
      </div>
      <div class="news-content-col">
        <div class="news-content-col__wrap">
          <div class="news-content-col__txtbox">
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
          </div>
          <div class="news-content-col__imgbox" style="background-image: url(/assets/img/_dummy/news_img01.jpg)"></div>
        </div>
        <div class="news-content-col__btn"><a href="/news/index_detail.html" class="btn-primary is-ss">詳細をみる</a>
        </div>
      </div>
    </div>  
    
    <div class="news-content__wrap news-item">
      <div class="news-content__ttl">
        <h2><span class="news-content__ttl-txt">タイトル</span></h2>
        <span class="news-content__ttl-img">2020.1.1</span>
      </div>
      <div class="news-content-col">
        <div class="news-content-col__wrap">
          <div class="news-content-col__txtbox">
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
            <p>
              ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
            </p>
          </div>
          <div class="news-content-col__imgbox" style="background-image: url(/assets/img/_dummy/news_img01.jpg)"></div>
        </div>
        <div class="news-content-col__btn"><a href="/news/index_detail.html" class="btn-primary is-ss">詳細をみる</a>
        </div>
      </div>
    </div>  
    
    <div class="news-content__bottom-btn">
      <button id="more-btn" class="btn-primary news-content__bottom-link">もっと見る</button>
    </div>
  </div>
</main>
{% endblock %}