
<!-- {% if ('style' in page) or ('home' in page) %}
{% endif %} -->

{% if not 'contact' in page %}
  <div class="contact-banner">
    <div class="contact-banner__container">
        <div class="contact-banner__box">
          <h2 class="contact-banner__box-ttl">お問い合わせ</h2>
        </div>
      <div class="contact-banner__wrap">
        <div class="contact-banner__item">
          <p class="contact-banner__item-ttl">メールでのお問い合わせ</p>
          <a href="/contact/" class="btn-primary is-bg-secondary contact-banner__item-link">お問い合わせフォーム</a>
        </div>
        <div class="contact-banner__item">
          <p class="contact-banner__item-ttl">お電話でのお問い合わせ</p>
          <p class="contact-banner__item-adress">本社：03-0000-0000<br>◯◯支店：03-0000-0000</p>
        </div>
      </div>
    </div>
  </div>
{% endif %}

<footer class="footer">
  <a href="#top" class="goTop"></a>

  <div class="footer-info">
    <div class="container">
      <div class="navbar-brand">
        <a href="/" class="navbar-brand__logo">Portfolio</a>
      </div>
      <div class="footer-address pc-only">
        <div class="footer-address__item">
          <p>本　　社</p>
          <p>〒000-0000	<br class="sp-only">東京都〇〇区1−1−1</p>
          <p>電話(03)0000-0000</p>
        </div>
        <div class="footer-address__item">
          <p>◯◯支店</p>
          <p>〒000-0000 <br class="sp-only">東京都〇〇区1−1−1</p>
          <p>電話(03)0000-0000</p>
        </div>
      </div>
      <p class="footer-copy">Copyright(C)</p>
    </div>
  </div>
</footer>
