<header class="header">
  <nav class="navbar navbar-expand-md gnav">
    <div class="navbar-brand">
      <a href="/" class="navbar-brand__logo">Portfolio</a>
    </div>
    <button class="navbar-toggler collapsed" type='button', data-toggle='collapse', data-target='#navbarGnav', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation'>
      <span></span>
      <span></span>
      <img src="/assets/img/common/nav_toggler.svg" alt="MENU">
    </button>
    <div id="navbarGnav" class="collapse navbar-collapse">
      <div class="gnav-wrap">
        <ul class="navbar-nav">
          <li class="menu-item"><a href="/service/">サービス</a></li>
          <li class="menu-item"><a href="/performance/">実績紹介</a></li>
          <li class="menu-item"><a href="/news/">お知らせ</a></li>
          <li class="menu-item"><a href="/recruit/">採用情報</a></li>
          <li class="menu-item"><a href="/company/">会社概要</a></li>
          <li class="menu-item"><a href="/contact/">お問い合わせ</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>