{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "実績紹介" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "performance" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}
{% endblock %}

{# Main content #}
{% block content %}
<main>
  <div class="hero-lower">
    <h1 class="heading-primary hero-lower__ttl">実績紹介</h1>
  </div>
  <div class="supplier-content">
    <ul class="supplier-content__wrap">
      <li class="supplier-content__item">
        <p class="supplier-content__ttl">○○○○社</p>
        <p class="supplier-content__txt">
          ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
          ここにはテキストが入ります。ここにはテキストが入ります。</p>
        <div class="supplier-content__btn">
          <a href="/performance/index_detail.html" ontouchstart="" class="btn-primary">詳細を見る</a>
        </div>
      </li>
      <li class="supplier-content__item">
        <p class="supplier-content__ttl">○○○○社</p>
        <p class="supplier-content__txt">
          ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
          ここにはテキストが入ります。ここにはテキストが入ります。</p>
        <div class="supplier-content__btn">
          <a href="/performance/index_detail.html" ontouchstart="" class="btn-primary">詳細を見る</a>
        </div>
      </li>
      <li class="supplier-content__item">
        <p class="supplier-content__ttl">○○○○社</p>
        <p class="supplier-content__txt">
          ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
          ここにはテキストが入ります。ここにはテキストが入ります。</p>
        <div class="supplier-content__btn">
          <a href="/performance/index_detail.html" ontouchstart="" class="btn-primary">詳細を見る</a>
        </div>
      </li>
      <li class="supplier-content__item">
        <p class="supplier-content__ttl">○○○○社</p>
        <p class="supplier-content__txt">
          ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
          ここにはテキストが入ります。ここにはテキストが入ります。</p>
        <div class="supplier-content__btn">
          <a href="/performance/index_detail.html" ontouchstart="" class="btn-primary">詳細を見る</a>
        </div>
      </li>
      <li class="supplier-content__item">
        <p class="supplier-content__ttl">○○○○社</p>
        <p class="supplier-content__txt">
          ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
          ここにはテキストが入ります。ここにはテキストが入ります。</p>
        <div class="supplier-content__btn">
          <a href="/performance/index_detail.html" ontouchstart="" class="btn-primary">詳細を見る</a>
        </div>
      </li>
      <li class="supplier-content__item">
        <p class="supplier-content__ttl">○○○○社</p>
        <p class="supplier-content__txt">
          ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。ここにはテキストが入ります。
          ここにはテキストが入ります。ここにはテキストが入ります。</p>
        <div class="supplier-content__btn">
          <a href="/performance/index_detail.html" ontouchstart="" class="btn-primary">詳細を見る</a>
        </div>
      </li>

    </ul>
  </div>
</main>
{% endblock %}